<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :family %><br>
    <%= f.select(:family, options_for_select([['Dog', 'Dog'], ['Cat', 'Cat'], ['Bird', 'Bird'], ['Rat/Mouse', 'Rat/Mouse'], ['Guinea Pig', 'Guinea Pig'], ['Rabbit', 'Rabbit'], ['Fish', 'Fish'], ['Crab', 'Crab'], ['Horse', 'Horse'], ['Reptile', 'Reptile'], ['Amphibian', 'Amphibian'], ['Amphibian', 'Amphibian'], ['Exotic/ Unusual', 'Exotic']])) %>
  </div>
  <div class="form-group">
    <%= f.label :species %><br>
    <%= f.text_field :species, class:'form-control' %>
  </div>
    <div class="form-group">
      <%= image_tag "#{@pet.picture}", width: 30, height: 30 %>
      <%= f.label :picture, 'Upload a new picture:' %><br />
      <strong>Maximum File Size of 2MB.</strong>
      <%= f.file_field :picture %>
    </div>
  <div class="form-group">
    <%= f.label :dob %><br>
    <%= f.datetime_select :dob, :start_year => (Time.now.year), :end_year => (Time.now.year-60), :discard_hour => true, :discard_minute => true, :discard_second => true,  class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :favourite_toy %><br>
    <%= f.text_field :favourite_toy, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :favourite_place %><br>
    <%= f.text_field :favourite_place, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>
