<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @pet.family %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pet.picture %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @pet.dob %>
</p>

<p>
  <strong>Favourite toy:</strong>
  <%= @pet.favourite_toy %>
</p>

<p>
  <strong>Favourite place:</strong>
  <%= @pet.favourite_place %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @pet.bio %>
</p>

<p>
 <% if @pet.user.gender === "F" %>
      <strong>My Mum:</strong>
 <% else %>
      <strong>My Dad:</strong>
 <% end %>
  <%= link_to @pet.user.first_name, user_profile_path(@pet.user) %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', user_pets_path(current_user) %>
