  <div class="left">
    <%= image_tag("#{@pet.picture}", :class => 'm_avatar') %>
  </div>

  <div class="impinfo panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Get to know me</h3>
    </div>
    <div class="panel-body">
        <p>
          <% if @pet.user.gender === "F" %>
              <strong>My Mum:</strong>
          <% else %>
              <strong>My Dad:</strong>
          <% end %>
          <%= link_to @pet.user.first_name, user_profile_path(@pet.user) %>
        </p>
        <p><strong>My favourite toy: </strong><%= @pet.favourite_toy %></p>
        <p><strong>I'm always excited to be at: </strong><%= @pet.favourite_place %></p>
    </div>
  </div>




  <div class="profiletext">
    <h1><%= @pet.name %></h1><br />
    <h4><%= @pet.species %> <%= @pet.family%></h4>
    <h5>I'm <%= @pet.age %> years old!</h5>

    <p><strong>A Little Bit About me...</strong><br />
    <%= @pet.bio %></p>
  </div>

  <% if current_user === @pet.user %>
  <%= link_to 'Edit profile', edit_pet_path(@pet) %>
  <%= link_to 'Back to my pets', user_pets_path(current_user) %>
  <% end %>
