  <div class="left">
  <%= image_tag("#{@user.picture}", :class => 'm_avatar') %><br />
    <% if current_user.following && current_user.following.include?(@user.id)  %>
       <em>You're following <%= @user.first_name %></em>
    <% else %>
        <%= form_tag follow_user_path(@user) do %>
            <%= submit_tag "Follow #{@user.first_name}", :class => 'btn btn-warning' %>
        <% end %>
    <% end %>
  </div>

  <div class="profiletext">
    <h1><%= @user.first_name %></h1><br />
    <h4>Member since <%= @user.member_since.strftime("%B %Y") %> </h4>
    <p><% if @user.gender === "M" %>
          Male
      <% else %>
          Female
      <% end %>
    from <%= @user.country %> </p>

    <p><strong>Favourite Animal:</strong> <%= @user.favourite_animal %></p>

    <%= link_to "#{@user.first_name}'s Photos", user_photos_path(@user) if @user.snapshots.present? %>

  </div>
    <br /><br />
  <div class="petlist">
      <h2><%= @user.first_name %>'s Pets</h2>
      <% @user.pets.each do |pet| %>
        <div class="petitem">
          <%= link_to (image_tag("#{pet.picture}", :class => 's_avatar')), pet_path(@user) %><br />
          <%= link_to "#{pet.name}", pet_path(@user), :class => 'avatar_label' %>
        </div>
      <% end %>
  </div><br />


  <h5><%= @user.first_name %>'s Posts...</h5>
  <% @user.posts.each do |post| %>
  <div class='statusupdate' id="<%= post.id %>">

    <p><%= post.content %></p><br />

    <small><%= post.created_at.strftime("%d %B at %H:%M") %></small>
    <div class="comments">
      <% post.comments.each do |comment| %>
          <p><%= comment.content %></p>
          <small><strong><%= link_to comment.user.first_name, user_profile_path(comment.user) %> from <%= comment.user.country %></strong> at <%= comment.created_at.strftime("%d %B at %H:%M") %></small>
          <br /><br />x
      <% end %>
    </div>
  </div>
  <div>
    <%= render partial: 'shared/postcommentform', locals: {comment: post.comments.new, post: post.id} %>
  </div>

  <% end %>
