
  <div class="left">
  <%= image_tag("#{@user.picture}", :class => 'm_avatar') %>
  </div>

  <div class="profiletext">
    <h1><%= @user.first_name %></h1><br />
    <h4>Member since <%= @user.member_since.strftime("%B %Y") %> </h4>
    <p><% if @user.gender === "M" %>
          Male
      <% else %>
          Female
      <% end %>
    from <%= @user.country %> </p>

    <p><strong>Favourite Animal:</strong> <%= @user.favourite_animal %></p>

  </div>
    <br /><br />
  <div class="petlist">
      <h2><%= @user.first_name %>'s Pets</h2>
      <% @user.pets.each do |pet| %>
        <div class="petitem">
          <%= link_to (image_tag("#{pet.picture}", :class => 's_avatar')), pet_path(@user) %><br />
          <%= link_to "#{pet.name}", pet_path(@user), :class => 'avatar_label' %>
        </div>
      <% end %>
  </div><br />
