<% if user_signed_in? %>


    <div class="loginPanelLeft">
    <%= image_tag("#{current_user.picture}", :class => 'xs_avatar') %>
    </div>

    <div class="loginPanelRight">
      Hi, <%= current_user.first_name %>
      <br />
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'override'  %><br />
    <%= link_to edit_user_registration_path, :class => "override" do %>
        <span class="glyphicon glyphicon-cog"></span>
         Settings<br />
    <% end %>
    </div>




<% else %>
    <div class="loginPanelSignedOut">
    <%= link_to "Sign up to Petbook", new_user_registration_path, :class => 'override'  %><br /> or<br />
    <%= link_to "Login", new_user_session_path, :class => 'override'  %>
    </div>
<% end %>