<h1>Petbook</h1>
<h2>Social media for your pets.</h2>


  <% if user_signed_in? %>

  <h4>Welcome back, <%= current_user.first_name %>!</h4>

    <% if current_user.has_pets? %>
        <div class="petlist">
            <% current_user.pets.each do |pet| %>
                <%= link_to pet_path(current_user) do %>
                      <%= image_tag("#{pet.picture}", :class => 's_avatar') %>
                <% end %>
            <% end %>

        </div>
    <% end %>

    <%= link_to newsfeed_path(current_user), :class => "btn btn-default"  do %>
        <span class="glyphicon glyphicon-home" style="font-size: 30px;"></span>
    <% end %>

  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default btn-lg'  %>
      <%= link_to "Login", new_user_session_path, :class => 'btn btn-warning btn-lg'  %>
  <% end %>