<h2>My Pets</h2>
<p>Pets go here</p>

<%= render 'posts/form' %>

<hr>

  <h1>Newsfeed</h1>

<% @posts.each do |post| %>
    <div class='statusupdate'>
      <h4><%= image_tag "#{post.user.picture}", :class => "xs_avatar" %> <%= post.user.first_name %></h4>
      <p><%= post.content %></p>
      <small><%= post.date_created.strftime("%d %B at %H:%M") %></small>
    </div>
    <div class="comments">
      <% post.comments.each do |comment| %>
          <p><%= comment.content %></p>
          <small><strong><%= link_to comment.user.first_name, user_profile_path(comment.user) %> from <%= comment.user.country %></strong> at <%= comment.created_date.strftime("%d %B at %H:%M") %></small>
          <br /><br />
      <% end %>
    </div>
<% end %>




