<%= form_for @snapshot, :html => { :multipart => true } do |f| %>
  <% if @snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
      <% @snapshot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :image, 'Upload a picture:' %><br />
      <strong>Maximum File Size of 2MB.</strong>
      <%= f.file_field :image %>
  </div>

    <div class="form-group">
      <%= f.label :tag_list, "Did you have a pet with you?" %>

      <% current_user.pets.each do |pet| %>
          <%= f.label :tag_list, pet.name %>
          <%= f.radio_button :tag_list, pet.name %>
      <% end %>
    </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
