<h2><%= @title %></h2>

<% if @user.snapshots.present? %>
    <% @user.snapshots.each do |photo| %>
          <div class="snapshot list">
           <%= link_to snapshot_path(photo) do %>
          <%= image_tag photo.image.url(:thumb) %>
          <% end %><br />
            <div class="btn-group">
              <%= link_to 'Replace Photo', edit_snapshot_path(photo), :class => 'btn btn-xs btn-default' %>
              <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
            </div>
          </div>
    <% end %>
      <% if @user == current_user %>
        <!-- I KNOW, this is terrible, but I couldn't get the CSS to work so I got desperate! -->
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
         <%= link_to 'New Snapshot', new_snapshot_path(current_user), :class => "btn btn-default" %>
      <% end %>
<% else %>
    <h3>You haven't got any photos yet.</h3>
    <h4>Why not <%= link_to "upload one now?", new_snapshot_path(current_user) %></h4>
<% end %>