<h2><%= @title %></h2>

<% if @user.snapshots.present? %>
    <% @user.snapshots.each do |photo| %>
          <div class="snapshotthumb">
           <%= link_to snapshot_path(photo) do %>
          <%= image_tag photo.image.url(:thumb) %>
          <% end %>
          </div><br /><br />
    <% end %>
      <% if @user == current_user %>
          <%= link_to 'New Snapshot', new_snapshot_path(current_user), :class => "btn btn-default" %>
      <% end %>
<% else %>
    <h3>You haven't got any photos yet.</h3>
    <h4>Why not <%= link_to "upload one now?", new_snapshot_path(current_user) %></h4>
<% end %>