<div class="imagedetail">
      <%= image_tag @snapshot.image.url(:medium)  %><br /><br />
  <%= @snapshot.likes.length %><span class='glyphicon glyphicon-heart'></span>
  <% if @snapshot.likes.where(:user_id => current_user.id).exists? %>
      <%= form_tag unlike_snapshot_path(@snapshot) do %>
          <%= hidden_field_tag :snapshot_id, @snapshot.id %>
          <%= submit_tag "Unlike", :class => 'btn btn-default btn-xs' %>
      <% end %>
  <% else %>
      <%= form_tag addlike_snapshot_path(@snapshot) do %>
          <%= hidden_field_tag :snapshot_id, @snapshot.id %>
          <%= submit_tag "Like!", :class => 'btn btn-default btn-xs' %>
      <% end %><br />
    <% end %>
    <% if @snapshot.tags.present? %>
        <p><strong>With: </strong>
          <% @snapshot.tags.each do |tag| %>
              <% thepet = @snapshot.user.pets.where(:name => tag.name).first %>
              <%= link_to pet_path(thepet.id) do %>
                  <%= image_tag thepet.picture, width: 20, height: 20 %>
                  <small><%= thepet.name %></small>
              <% end %>
          <% end %>
        </p>
    <% end %>
</div>

    <h4>Comments</h4>
    <div class="comments">
      <% @snapshot.comments.each do |comment| %>
          <p><%= comment.content %></p>
          <small><strong><%= link_to comment.user.first_name, user_profile_path(comment.user) %> from <%= comment.user.country %></strong> at <%= comment.created_at.strftime("%d %B at %H:%M") %></small>
          <br /><br />
      <% end %>
    </div>
<div class="commentform">
  <%= render partial: 'shared/snapshotcommentform', locals: {comment: @snapshot.comments.new, snapshot: @snapshot} %>
</div>

<div class="btn-group">
<% if current_user === @snapshot.user %>
<%= link_to 'Edit', edit_snapshot_path(@snapshot), :class => "btn btn-default" %>
<% end %>
<%= link_to 'Back', :back, :class => "btn btn-default"  %>
</div>