<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :date_created, :value => Time.now %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-group">
    <%= f.label :content, "What did you do today?" %><br>
    <%= f.text_area :content, :class => 'form-control' %>
    </div>
  <div class="field">

  </div>
  <div class="actions">
    <%= f.submit 'Post Update', :class => 'btn btn-warning' %>
  </div>
<% end %>
