<!DOCTYPE html>
<html>
<head>
  <title>Petbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="loginpanel">
    <%= render partial: 'shared/loginbox' %>
</div>

<div class="container">
  <header class="header">
    <%= render partial: 'shared/nav' unless devise_controller? && resource_name == :user && action_name == 'new'%>
  </header>

  <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

  <footer class="footer">
    <%= render partial: 'shared/footer'%>
  </footer>

</div>


</body>
</html>
